<div class="content">
    <h1>Tous les taches</h1>

    <ul class="list">
        {{#each tasks}}
            <li class="item">
                <p><a href="/tasks/{{id}}" class="link">{{titre}}</a></p>
            </li>
        {{else}}
            <li class="no-task">Aucune tâches</li>
        {{/each}}
    </ul>

</div>